/* OVERLAY */
#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

/* MODAL */
#modalProduto {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75%;
  background: white;
  border-radius: 20px 20px 0 0;
  animation: subir 0.35s ease;
  overflow: hidden;
}

/* ANIMAÇÃO MAIS SUAVE */
@keyframes subir {
  from {
    transform: translateY(100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* IMAGEM GRANDE */
.modal-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

/* CONTEÚDO */
.modal-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* DESCRIÇÃO BONITA */
.modal-desc {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
}

/* BOTÃO PRINCIPAL */
.btn-add-main {
  background: #e21;
  color: white;
  padding: 14px;
  border-radius: 12px;
  font-weight: bold;
}

/* CANCELAR */
.btn-cancel {
  background: #eee;
  color: #333;
}

/* QTD */
.qtd-box {
  display: flex;
  justify-content: center;
  gap: 15px;
}
