body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

/* HEADER */
header {
  background: #e21;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* PRODUTOS */
#menu {
  padding: 10px;
}

.product {
  background: white;
  margin-bottom: 12px;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.product h3 {
  margin: 0;
}

.product p {
  color: gray;
  font-size: 14px;
}

.product strong {
  display: block;
  margin-top: 5px;
}

/* BOTÃO */
button {
  background: #e21;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  cursor: pointer;
}

/* CARRINHO */
#cart {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e21;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

/* CHECKOUT */
#checkout {
  background: white;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
